
<script type="text/javascript">

  <% if logged_in? %>
    window.current_user = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  <% end %>

  window.tournament = "<%= image_path("super_smash_brothers_tournament.jpg") %>"
  window.code_monkey_island = "<%= image_path("code_monkey_island.png") %>"
  window.lexus_hover = "<%= image_path("lexus_hover.jpg") %>"
  window.location_icon = "<%= image_path("location_icon.png") %>"
</script>

<main id="root">Something went wrong</main>
